.leftbar {
  background-color: var(--fg-color);
  width: 30%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  color: black !important;
  text-align: justify;
  height: 100vh;
}

.leftbar h1 {
  font-size: 3vw;
}

.leftbar img {
  width: 100%;
  animation: slideUp 2s ease-out;
}

.textdiv {
  font-size: 1.6vw;
  width: 80%;
}

@keyframes slideUp {
  0% {
      transform: translateY(100%);
      opacity: 0.5;
  }
  100% {
      transform: translateY(0%);
      opacity: 1;
  }
}


@media (max-width: 650px){
  .leftbar {
    position: static;
    width: 100%;
    height: auto;
  }
  .leftbar img {
    width: 90%;
  }
  .textdiv {
    font-size: 5vw;
    width: 90%;
  }
  .leftbar h1 {
    font-size: 10vw;
  }
  p {
    font-size: 7vw;
  }
}