.word_div {
    margin: 0.51rem 0.51rem 0 0.51rem;
    padding: 0.1rem 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--fg-color);
    border-radius: 1rem;
    font-size: 1.2vw;
    color: #000;
    cursor: crosshair;
}


.speaker {
    width: 5%;
    transition: transform 0.2s ease;
}

.speaker:hover {
    transform: scale(1.2);
}

.words_div {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 66%;
    overflow-y: auto;
    cursor: pointer;
}

.word_div_parent {
    background-color: var(--fg-color);
    color: #000;
    margin: 0.40rem;
    border-radius: 0.5rem;
    font-size: 1.1vw;
    width: 95%;
    display: flex;
    flex-direction: column;
}

.word_div_two {
    font-size: 1.4vw;
    padding: 1rem;
}

.meaning {
    color: var(--bg-color);
    font-size: 2vw;
}

.words_div input {
    margin-top: 0.41rem;
    margin-bottom: 0.41rem;
    padding: 0.21rem;
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding-left: 0.5rem;
}

.emoji {
    font-size: 20vw;
    margin: 0;
    text-align: center;
}

.back {
    font-size: 3rem;
    color: var(--transparent-black);
    position: fixed;
    margin-left: 0.3rem;
    bottom: 0;
    left: 0;
}
  
@media (max-width: 650px) {
    .words_div {
        position: static;
        width: 100%;
        margin-left: 0.2rem;
    }
    .word_div_parent {
        width: 90%;
    }
    .word_div_parent .word_div h1 {
        font-size: 8vw;
    }
    .speaker {
        width: 15%;
    }
    .word_div_two {
        font-size: 5vw;
    }    
    .meaning {
        font-size: 7vw;
    }
    .words_div input {
        width: 50%;
        font-size: 6vw;
    }
    .emoji {
        font-size: 40vw;
    }    
}