.letter {
  display: inline-block;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

span {
  font-size: 1.3vw;
}

h1 {
  display: flex;
  justify-content: center;
}